/* You can add global styles to this file, and also import other style files */

#homePageTitleText {
  width: 100%;
  background: url('/assets/housefront.jpg');
  height: 320px;
  background-size: 100%;


}

#blueSearchBtn {
                position:relative;
                padding:6px 15px;
                left:-8px;
                border:2px solid #207cca;
                background-color:#207cca;
                color:#fafafa;
}
