<div class="container">
  <div class="jumbotron" id="homePageTitleText">
    <p >Find your way home</p>
    <form class="" action="index.html" method="post">
      <input type="text" name="homeSaleSearch" placeholder="Enter an address" >
      <button class="btn btn-primary" (click)="makeNewSearch()">Search</button>
    </form>
  </div>
  <nav class="navbar navbar-light bg-faded">
    <a class="navbar-brand" href="/#/">Find your way home</a>
    <ul class="nav navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="/#/">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/#/search">Search</a>
      </li>
    </ul>
  </nav>



  <select (change)="onChange($event.target.value)">
    <option value="allHomes">All Homes</option>
    <option value="completedHomes">Completed Homes</option>
    <option value="incompleteHomes" selected="selected">Incomplete Homes</option>
  </select>

  <ul>
    <li [class]="priorityColor(currentHome)" *ngFor="let currentHome of childHomeList | onsale:filterBySale">{{currentHome.description}} {{currentHome.price}}
      <input *ngIf="currentHome.sale === true" type="checkbox" checked (click)="toggleSale(currentHome, false)"/>
      <input *ngIf="currentHome.sale === false" type="checkbox" (click)="toggleSale(currentHome, true)"/>
      <button (click)="editButtonClicked(currentHome)">Edit!</button>
    </li>
  </ul>
  <ul>
    <li *ngFor="let currentHome of childTaskList | onsale">
  </ul>
</div>
